<launch>
    <node name="test_gicp" pkg="gicp_slam" type="test_gicp" output="screen">
        <param name="source" type="string" value="/home/kyle/exp_cvte/cvte_ws/src/gicp_slam/data/cloud1.pcd" />
        <param name="target" type="string" value="/home/kyle/exp_cvte/cvte_ws/src/gicp_slam/data/cloud2.pcd" />
        <param name="tx" type="double" value="0.0" />
        <param name="ty" type="double" value="0.0" />
        <param name="tz" type="double" value="0.0" />
        <param name="rx" type="double" value="0.0" />
        <param name="ry" type="double" value="0.0" />
        <param name="rz" type="double" value="-0.3" />
    </node>
</launch>